/* GROUND PLAN */

body {
    background: #222222;
}

h2 {
    color: #666;
    font-family: monospace;
    text-align: center;
}

/* BACKGROUND */

.background {
    table-layout: fixed;
    border-spacing: 0;
}

.background td {
    padding:  0;
}

/* GAME */

.game {
    position: relative;
    overflow: hidden;
}

/* ELEMENTS */

.wall {
    background: #444444;
    border: solid 3px #333333;
    box-sizing: content-box;
}

.lava, .actor {
    background: #e55555;
}

.coin {
    background: #e2e838;
}

/* PLAYER */

.actor {
    position: absolute;
}

.player {
    background: cornflowerblue;
}

.won .player {
    background: green;
}

.lost .player {
    background: red;
}