/* GROUND PLAN */

hr {
    size: 1px;
}

div {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.image {
    opacity: 0.1;
}

.image:hover {
    cursor: default;
}